* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bold;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-child {
  flex: 1 0 auto;
}

.flex-child:first-child {
  margin-right: 50px;
}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 214px;
  margin-bottom: 30px;
  width: 100%;
  border: solid black;
  border-width: 4px 0 0 4px;
  justify-content: center;
}

#splashscreen {
  width: 300px;
  font-size: small;
}

#guesses-container {
  position: relative;
  height: 220px;
}

.cell {
  flex: 1 0 32%;
  border: solid black;
  border-width: 0 4px 4px 0;
  text-align: center;
  font: 30px Arial;
  font-weight: 500;
  line-height: 68px;
}

.middle-cell {
  background-color: black;
  color: white;
}

.flash {
  background-color: greenyellow;
  color: black;
}

.hidden {
  display: none;
}

#guess {
  padding: 2px;
  border: 2px solid #8842d5;
  border-radius: 5px;
}

#check {
  border-radius: 5px;
  color: #8842d5;
  background-color: #e8d0ff;
  border: 2px solid #8842d5;
}

#jumble {
  border-radius: 5px;
  color: #8842d5;
  background-color: #e8d0ff;
  border: 2px solid #8842d5;
}

#guessed-words {
  margin-top: 8px;
  padding: 0px;
  height: 180px;
  width:450px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#guessed-words li {
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

#errors {
  margin-top: 20px;
  color: red;
}

#numberOfWords {
  font-size: small;
  font-family: Arial;
  border: 3px solid black;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

#timer {
  position: absolute;
  bottom: 0;
  right: 0;
}